<%= form_for(@restaurant) do |f| %>
  <% if @restaurant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@restaurant.errors.count, "error") %> prohibited this restaurant from being saved:</h2>

      <ul>
      <% @restaurant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="text-center">
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, :class=> "diner_input"  %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price, :class=> "diner_input"  %>
  </div>
  <div class="field">
    <%= f.label :food %><br>
    <%= f.text_field :food, :class=> "diner_input"  %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
<<<<<<< HEAD
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :rating %><br>
    <%= f.text_field :rating %>
=======
    <%= f.text_field :address, :class=> "diner_input"  %>
>>>>>>> 935f231774487a8a74b3eb612d0f890cc45f308a
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description, :class=> "diner_input"  %>
  </div>
  <div class="actions">
    <%= f.submit 'Add Diner', :class=> "btn btn-info btn-lg" %>
  </div>
</div>
<% end %>
