<h2>Wynfood</h2>
<br>
<% @price.each do |restaurant| %>
  <a href="/restaurants/<%= restaurant.id %>" class="show_img">
    <img alt="<%= restaurant.name %>" src="<%= restaurant.url %>">
    <h4>
      <%= restaurant.name %>
    </h4>
  </a>
<% end %>
<div class="index_button">
  <br>
  <div class="new_button">
    <%= button_to 'New Restaurant', new_restaurant_path, :class => 'btn btn-info btn-lg', :method => :get %>
  </div>
  <div class="home_button">
    <%= button_to 'Home Page', {controllers: 'restaurants', action: 'home'}, class: 'btn btn-info btn-lg', :method => :get %>
  </div>
</div>
