<p id="notice"><%= notice %></p>

<p>
  <strong>Comment:</strong>
  <%= @review.comment %>
</p>

<p>
  <strong>Restaurant:</strong>
  <%= @review.restaurant.name %>
</p>

<%= link_to 'Edit', edit_review_path(@review) %> |
<% if @review.restaurant.nil? %>
  <%= link_to 'Back', reviews_path %>
<% else %>
  <%= link_to 'Back', @review.restaurant %>
<% end %>
