<p id="notice"><%= notice %></p>
<div class="show_text home_button">
<p>
  <strong>Comment:</strong>
  <%= @review.comment %>
</p>

<p>
  <strong>Restaurant:</strong>
  <%= @review.restaurant.name %>
</p>

<%= link_to 'Edit', edit_review_path(@review) %>
<% if @review.restaurant.nil? %>
  <%= link_to 'Back', reviews_path %>
<% else %>
  <%= button_to 'Back', @review.restaurant,class: 'btn btn-info btn-lg', :method => :get %>
<% end %>
</div>
